In [1]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.expand_frame_repr = True

In [2]:
##Data Cleaning---------------------------------

In [3]:
raw_csv_data = pd.read_csv('Absenteeism-data.csv')

In [4]:
type(raw_csv_data)

pandas.core.frame.DataFrame

In [5]:
raw_csv_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [6]:
df = raw_csv_data.copy()
#df

In [7]:
#df
#df.info()

In [8]:
#Dropping the "ID" Column
df = df.drop(['ID'], axis = 1)

In [9]:
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [10]:
##Reason for Absence---------------------------------
df['Reason for Absence'].min()

0

In [11]:
df['Reason for Absence'].max()

28

In [12]:
df['Reason for Absence'].unique()               #or pd.unique(df['Reason for Absence'])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [13]:
len(df['Reason for Absence'].unique())

28

In [14]:
sorted(df['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [15]:
#.get_dummies()
reason_columns = pd.get_dummies(df['Reason for Absence'], dtype = int)

In [16]:
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [17]:
reason_columns['check'] = reason_columns.sum(axis = 1)

In [18]:
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1

In [19]:
reason_columns['check'].sum(axis = 0)

700

In [20]:
reason_columns['check'].unique()

array([1], dtype=int64)

In [21]:
reason_columns = reason_columns.drop(['check'], axis = 1)
reason_columns.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [22]:
reason_columns = pd.get_dummies(df['Reason for Absence'], dtype = int, drop_first = True)

In [23]:
reason_columns.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [24]:
##Group the Reasons for Absence:---------------------
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [25]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [26]:
df = df.drop(['Reason for Absence'], axis = 1)

In [82]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [28]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis = 1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis = 1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis = 1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis = 1)

In [29]:
reason_type_1.head()

0    0
1    0
2    0
3    1
4    0
dtype: int32

In [30]:
#Concatenate Column Values-----------------------
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [31]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)

In [32]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [33]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [34]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours','Reason_1', 'Reason_2','Reason_3','Reason_4']

In [35]:
df.columns = column_names

In [36]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [37]:
#Reorder Columns------------------------------------
column_names_reordered = ['Reason_1', 'Reason_2','Reason_3','Reason_4','Date', 'Transportation Expense', 
                          'Distance to Work','Age','Daily Work Load Average', 'Body Mass Index', 
                          'Education','Children', 'Pets', 'Absenteeism Time in Hours']

In [38]:
df = df[column_names_reordered]

In [39]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [81]:
##Creating Checkpoint------------
df_reason_mod = df.copy()
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [41]:
#Date--------------
df_reason_mod['Date']

0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
5      10/07/2015
6      17/07/2015
7      24/07/2015
8      06/07/2015
9      13/07/2015
10     20/07/2015
11     14/07/2015
12     15/07/2015
13     15/07/2015
14     15/07/2015
15     17/07/2015
16     17/07/2015
17     27/07/2015
18     30/07/2015
19     05/08/2015
20     12/08/2015
21     03/08/2015
22     10/08/2015
23     14/08/2015
24     17/08/2015
25     24/08/2015
26     04/08/2015
27     12/08/2015
28     19/08/2015
29     28/08/2015
30     17/08/2015
31     27/08/2015
32     27/08/2015
33     17/08/2015
34     17/08/2015
35     17/08/2015
36     04/08/2015
37     20/08/2015
38     21/08/2015
39     28/08/2015
40     01/09/2015
41     07/09/2015
42     01/09/2015
43     08/09/2015
44     09/09/2015
45     13/09/2015
46     14/09/2015
47     24/09/2015
48     04/09/2015
49     14/09/2015
50     21/09/2015
51     28/09/2015
52     08/09/2015
53     15/09/2015
54     22/09/2015
55     29/09/2015
56     16/09/2015
57     23/09/2015
58     30/09/2015
59     11/09/2015
60     18/09/2015
61     25/09/2015
62     06/10/2015
63     13/10/2015
64     14/10/2015
65     15/10/2015
66     16/10/2015
67     16/10/2015
68     06/10/2015
69     14/10/2015
70     21/10/2015
71     22/10/2015
72     21/10/2015
73     21/10/2015
74     22/10/2015
75     13/10/2015
76     20/10/2015
77     21/10/2015
78     23/10/2015
79     30/10/2015
80     05/11/2015
81     04/11/2015
82     05/11/2015
83     12/11/2015
84     19/11/2015
85     02/11/2015
86     09/11/2015
87     16/11/2015
88     18/11/2015
89     20/11/2015
90     18/11/2015
91     25/11/2015
92     20/11/2015
93     27/11/2015
94     02/11/2015
95     10/11/2015
96     11/11/2015
97     26/11/2015
98     01/12/2015
99     01/12/2015
100    02/12/2015
101    02/12/2015
102    03/12/2015
103    04/12/2015
104    08/12/2015
105    09/12/2015
106    10/12/2015
107    11/12/2015
108    15/12/2015
109    16/12/2015
110    11/12/2015
111    18/12/2015
112    18/12/2015
113    06/01/2016
114    04/01/2016
115    05/01/2016
116    05/01/2016
117    06/01/2016
118    07/01/2016
119    07/01/2016
120    08/01/2016
121    11/01/2016
122    12/01/2016
123    12/01/2016
124    13/01/2016
125    14/01/2016
126    15/01/2016
127    11/01/2016
128    12/01/2016
129    12/01/2016
130    12/01/2016
131    13/01/2016
132    21/01/2016
133    28/01/2016
134    25/01/2016
135    26/01/2016
136    28/01/2016
137    05/02/2016
138    03/02/2016
139    10/02/2016
140    11/02/2016
141    11/02/2016
142    12/02/2016
143    12/02/2016
144    08/02/2016
145    09/02/2016
146    15/02/2016
147    09/02/2016
148    16/02/2016
149    23/02/2016
150    25/02/2016
151    15/02/2016
152    16/02/2016
153    17/02/2016
154    25/02/2016
155    01/03/2016
156    01/03/2016
157    08/03/2016
158    15/03/2016
159    16/03/2016
160    02/03/2016
161    03/03/2016
162    04/03/2016
163    04/03/2016
164    07/03/2016
165    14/03/2016
166    21/03/2016
167    22/03/2016
168    24/03/2016
169    24/03/2016
170    25/03/2016
171    25/03/2016
172    28/03/2016
173    29/03/2016
174    30/03/2016
175    28/03/2016
176    28/03/2016
177    29/03/2016
178    30/03/2016
179    30/03/2016
180    17/03/2016
181    18/03/2016
182    25/03/2016
183    28/03/2016
184    06/04/2016
185    13/04/2016
186    12/04/2016
187    13/04/2016
188    14/04/2016
189    15/04/2016
190    15/04/2016
191    06/04/2016
192    07/04/2016
193    08/04/2016
194    08/04/2016
195    22/04/2016
196    29/04/2016
197    29/04/2016
198    26/04/2016
199    27/04/2016
200    27/04/2016
201    28/04/2016
202    08/04/2016
203    04/04/2016
204    04/05/2016
205    05/05/2016
206    02/05/2016
207    03/05/2016
208    03/05/2016
209    11/05/2016
210    09/05/2016
211    10/05/2016
212    04/05/2016
213    11/05/2016
214    18/05/2016
215    25/05/2016
216    25/05/2016
217    24/05/2016
218    11/05/2016
219    27/05/2016
220    06/06/2016
221    13/06/2016
222    14/06/2016
223    16/06/2016
224    17/06/2016
225    13/06/2016
226    20/06/2016
227    27/06/2016
228    29/06/2016
229    03/06/2016
230    07/06/2016
231    08/06/2016
232    09/06/2016
233    10/06/2016
234    20/06/2016
235    30/06/2016
236    05/07/2016
237    06/07/2016
238    08/07/2016
239    08/07/2016
240    12/07/2016
241    14/07/2016
242    15/07/2016
243    18/07/2016
244    19/07/2016
245    18/07/2016
246    19/07/2016
247    20/07/2016
248    21/07/2016
249    11/07/2016
250    14/07/2016
251    21/07/2016
252    04/08/2016
253    11/08/2016
254    07/08/2016
255    08/08/2016
256    10/08/2016
257    10/08/2016
258    11/08/2016
259    08/08/2016
260    09/08/2016
261    10/08/2016
262    10/08/2016
263    10/08/2016
264    14/08/2016
265    15/08/2016
266    17/08/2016
267    24/08/2016
268    08/08/2016
269    30/08/2016
270    05/09/2016
271    09/09/2016
272    07/09/2016
273    08/09/2016
274    12/09/2016
275    13/09/2016
276    13/09/2016
277    13/09/2016
278    14/09/2016
279    14/09/2016
280    15/09/2016
281    16/09/2016
282    16/09/2016
283    14/09/2016
284    15/09/2016
285    15/09/2016
286    16/09/2016
287    26/09/2016
288    26/09/2016
289    05/10/2016
290    05/10/2016
291    05/10/2016
292    06/10/2016
293    06/10/2016
294    06/10/2016
295    12/10/2016
296    12/10/2016
297    12/10/2016
298    14/10/2016
299    14/10/2016
300    14/10/2016
301    15/10/2016
302    16/10/2016
303    16/10/2016
304    19/10/2016
305    19/10/2016
306    20/10/2016
307    20/10/2016
308    22/10/2016
309    22/10/2016
310    26/10/2016
311    27/10/2016
312    27/10/2016
313    27/10/2016
314    28/10/2016
315    28/10/2016
316    29/10/2016
317    07/11/2016
318    07/11/2016
319    08/11/2016
320    11/11/2016
321    14/11/2016
322    14/11/2016
323    14/11/2016
324    14/11/2016
325    15/11/2016
326    16/11/2016
327    16/11/2016
328    17/11/2016
329    17/11/2016
330    18/11/2016
331    18/11/2016
332    21/11/2016
333    22/11/2016
334    23/11/2016
335    25/11/2016
336    25/11/2016
337    29/11/2016
338    24/11/2016
339    05/12/2016
340    05/12/2016
341    05/12/2016
342    05/12/2016
343    06/12/2016
344    09/12/2016
345    15/12/2016
346    15/12/2016
347    16/12/2016
348    20/12/2016
349    20/12/2016
350    22/12/2016
351    23/12/2016
352    20/12/2016
353    20/12/2016
354    21/12/2016
355    19/12/2016
356    19/12/2016
357    19/12/2016
358    04/01/2017
359    09/01/2017
360    09/01/2017
361    03/01/2017
362    03/01/2017
363    09/01/2017
364    11/01/2017
365    16/01/2017
366    16/01/2017
367    25/01/2017
368    27/01/2017
369    07/02/2017
370    01/02/2017
371    01/02/2017
372    03/02/2017
373    10/02/2017
374    17/02/2017
375    13/02/2017
376    15/02/2017
377    16/02/2017
378    16/02/2017
379    17/02/2017
380    13/02/2017
381    13/02/2017
382    21/02/2017
383    21/02/2017
384    22/02/2017
385    22/02/2017
386    24/02/2017
387    24/02/2017
388    22/02/2017
389    24/02/2017
390    07/03/2017
391    08/03/2017
392    10/03/2017
393    10/03/2017
394    13/03/2017
395    13/03/2017
396    14/03/2017
397    14/03/2017
398    20/03/2017
399    22/03/2017
400    22/03/2017
401    23/03/2017
402    24/03/2017
403    28/03/2017
404    29/03/2017
405    30/03/2017
406    30/03/2017
407    30/03/2017
408    31/03/2017
409    31/03/2017
410    27/03/2017
411    28/03/2017
412    05/04/2017
413    07/04/2017
414    07/04/2017
415    10/04/2017
416    10/04/2017
417    12/04/2017
418    12/04/2017
419    17/04/2017
420    19/04/2017
421    28/04/2017
422    28/04/2017
423    24/04/2017
424    26/04/2017
425    01/05/2017
426    03/05/2017
427    08/05/2017
428    10/05/2017
429    10/05/2017
430    11/05/2017
431    12/05/2017
432    15/05/2017
433    15/05/2017
434    17/05/2017
435    17/05/2017
436    19/05/2017
437    22/05/2017
438    22/05/2017
439    29/05/2017
440    31/05/2017
441    05/06/2017
442    05/06/2017
443    06/06/2017
444    08/06/2017
445    09/06/2017
446    09/06/2017
447    12/06/2017
448    12/06/2017
449    13/06/2017
450    19/06/2017
451    20/06/2017
452    26/06/2017
453    28/06/2017
454    28/06/2017
455    28/06/2017
456    28/06/2017
457    30/06/2017
458    27/06/2017
459    27/06/2017
460    06/07/2017
461    06/07/2017
462    07/07/2017
463    10/07/2017
464    14/07/2017
465    14/07/2017
466    17/07/2017
467    18/07/2017
468    24/07/2017
469    24/07/2017
470    25/07/2017
471    25/07/2017
472    25/07/2017
473    28/07/2017
474    28/07/2017
475    24/07/2017
476    24/07/2017
477    25/07/2017
478    27/07/2017
479    27/07/2017
480    03/08/2017
481    07/08/2017
482    08/08/2017
483    08/08/2017
484    08/08/2017
485    08/08/2017
486    10/08/2017
487    14/08/2017
488    15/08/2017
489    17/08/2017
490    22/08/2017
491    22/08/2017
492    22/08/2017
493    24/08/2017
494    28/08/2017
495    05/09/2017
496    05/09/2017
497    05/09/2017
498    05/09/2017
499    07/09/2017
500    08/09/2017
501    08/09/2017
502    11/09/2017
503    13/09/2017
504    18/09/2017
505    19/09/2017
506    26/09/2017
507    05/10/2017
508    05/10/2017
509    06/10/2017
510    11/10/2017
511    11/10/2017
512    17/10/2017
513    19/10/2017
514    20/10/2017
515    24/10/2017
516    24/10/2017
517    24/10/2017
518    24/10/2017
519    24/10/2017
520    25/10/2017
521    25/10/2017
522    25/10/2017
523    26/10/2017
524    26/10/2017
525    27/10/2017
526    27/10/2017
527    29/10/2017
528    29/10/2017
529    29/10/2017
530    29/10/2017
531    31/10/2017
532    07/11/2017
533    08/11/2017
534    08/11/2017
535    10/11/2017
536    14/11/2017
537    15/11/2017
538    17/11/2017
539    17/11/2017
540    21/11/2017
541    22/11/2017
542    23/11/2017
543    23/11/2017
544    27/11/2017
545    27/11/2017
546    28/11/2017
547    28/11/2017
548    28/11/2017
549    29/11/2017
550    30/11/2017
551    30/11/2017
552    24/11/2017
553    24/11/2017
554    27/11/2017
555    05/12/2017
556    06/12/2017
557    06/12/2017
558    08/12/2017
559    08/12/2017
560    13/12/2017
561    14/12/2017
562    15/12/2017
563    15/12/2017
564    18/12/2017
565    19/12/2017
566    19/12/2017
567    21/12/2017
568    18/12/2017
569    19/12/2017
570    01/01/2018
571    04/01/2018
572    04/01/2018
573    05/01/2018
574    08/01/2018
575    10/01/2018
576    11/01/2018
577    12/01/2018
578    15/01/2018
579    16/01/2018
580    17/01/2018
581    17/01/2018
582    17/01/2018
583    18/01/2018
584    26/01/2018
585    06/02/2018
586    06/02/2018
587    07/02/2018
588    07/02/2018
589    08/02/2018
590    08/02/2018
591    08/02/2018
592    09/02/2018
593    09/02/2018
594    12/02/2018
595    12/02/2018
596    13/02/2018
597    14/02/2018
598    15/02/2018
599    15/02/2018
600    15/02/2018
601    16/02/2018
602    16/02/2018
603    21/02/2018
604    21/02/2018
605    21/02/2018
606    22/02/2018
607    23/02/2018
608    26/02/2018
609    26/02/2018
610    26/02/2018
611    26/02/2018
612    27/02/2018
613    27/02/2018
614    27/02/2018
615    28/02/2018
616    22/02/2018
617    23/02/2018
618    05/03/2018
619    05/03/2018
620    06/03/2018
621    06/03/2018
622    06/03/2018
623    07/03/2018
624    08/03/2018
625    08/03/2018
626    08/03/2018
627    09/03/2018
628    12/03/2018
629    12/03/2018
630    13/03/2018
631    14/03/2018
632    15/03/2018
633    16/03/2018
634    19/03/2018
635    19/03/2018
636    19/03/2018
637    19/03/2018
638    20/03/2018
639    21/03/2018
640    21/03/2018
641    21/03/2018
642    22/03/2018
643    22/03/2018
644    23/03/2018
645    23/03/2018
646    27/03/2018
647    28/03/2018
648    28/03/2018
649    28/03/2018
650    29/03/2018
651    26/03/2018
652    26/03/2018
653    28/03/2018
654    02/04/2018
655    02/04/2018
656    03/04/2018
657    04/04/2018
658    05/04/2018
659    06/04/2018
660    09/04/2018
661    10/04/2018
662    10/04/2018
663    10/04/2018
664    11/04/2018
665    13/04/2018
666    13/04/2018
667    16/04/2018
668    17/04/2018
669    20/04/2018
670    24/04/2018
671    26/04/2018
672    26/04/2018
673    27/04/2018
674    07/05/2018
675    09/05/2018
676    09/05/2018
677    09/05/2018
678    09/05/2018
679    10/05/2018
680    10/05/2018
681    10/05/2018
682    11/05/2018
683    11/05/2018
684    11/05/2018
685    14/05/2018
686    15/05/2018
687    15/05/2018
688    15/05/2018
689    16/05/2018
690    16/05/2018
691    18/05/2018
692    21/05/2018
693    21/05/2018
694    23/05/2018
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: Date, dtype: object

In [42]:
type(df_reason_mod['Date'][0])

str

In [43]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [44]:
type(df_reason_mod['Date'] [0])

pandas._libs.tslibs.timestamps.Timestamp

In [45]:
#df_reason_mod.info()

In [46]:
#Extract the Month value:-----------------
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [47]:
df_reason_mod['Date'][0].month

7

In [48]:
list_months = []
list_months

[]

In [49]:
df_reason_mod.shape

(700, 14)

In [50]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [78]:
#list_months

In [79]:
len(list_months)

700

In [80]:
df_reason_mod['Month Value'] = list_months

In [54]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

In [55]:
#Extract the Day of the Week:------------------
df_reason_mod['Date'][699].weekday()

3

In [56]:
df_reason_mod['Date'][699]

Timestamp('2018-05-31 00:00:00')

In [57]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [58]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [62]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [77]:
df_reason_date_mod = df_reason_mod.copy()
df_reason_date_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [64]:
type(df_reason_date_mod['Transportation Expense'][0])

numpy.int64

In [65]:
type(df_reason_date_mod['Distance to Work'][0])

numpy.int64

In [66]:
type(df_reason_date_mod['Age'][0])

numpy.int64

In [67]:
type(df_reason_date_mod['Daily Work Load Average'][0])

numpy.float64

In [68]:
type(df_reason_date_mod['Body Mass Index'][0])

numpy.int64

In [69]:
display(df_reason_date_mod)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7,4
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7,4
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7,4
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7,0
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7,0
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7,0
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7,1
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7,2
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7,2
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7,2
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7,4
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7,4
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7,0
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7,3
19,0,0,0,1,2015-08-05,248,25,47,205.917,32,1,2,1,2,8,2
20,1,0,0,0,2015-08-12,330,16,28,205.917,25,2,0,0,8,8,2
21,1,0,0,0,2015-08-03,179,51,38,205.917,31,1,0,0,1,8,0
22,1,0,0,0,2015-08-10,361,52,28,205.917,27,1,1,4,40,8,0
23,0,0,0,1,2015-08-14,260,50,36,205.917,23,1,4,0,4,8,4
24,0,0,1,0,2015-08-17,289,36,33,205.917,30,1,2,1,8,8,0
25,0,0,0,1,2015-08-24,361,52,28,205.917,27,1,1,4,7,8,0
26,0,0,0,1,2015-08-04,289,36,33,205.917,30,1,2,1,1,8,1
27,0,0,0,1,2015-08-12,157,27,29,205.917,22,1,0,0,4,8,2
28,0,0,1,0,2015-08-19,289,36,33,205.917,30,1,2,1,8,8,2
29,0,0,0,1,2015-08-28,179,51,38,205.917,31,1,0,0,2,8,4
30,0,0,1,0,2015-08-17,179,51,38,205.917,31,1,0,0,8,8,0
31,0,0,1,0,2015-08-27,235,29,48,205.917,33,1,1,5,8,8,3
32,0,0,0,1,2015-08-27,235,11,37,205.917,29,3,1,1,4,8,3
33,0,0,1,0,2015-08-17,235,29,48,205.917,33,1,1,5,8,8,0
34,0,0,0,1,2015-08-17,179,51,38,205.917,31,1,0,0,2,8,0
35,0,0,0,1,2015-08-17,361,52,28,205.917,27,1,1,4,1,8,0
36,0,0,0,1,2015-08-04,289,36,33,205.917,30,1,2,1,8,8,1
37,1,0,0,0,2015-08-20,291,50,32,205.917,23,1,0,0,4,8,3
38,0,0,0,1,2015-08-21,235,29,48,205.917,33,1,1,5,8,8,4
39,0,0,0,1,2015-08-28,260,50,36,205.917,23,1,4,0,4,8,4
40,0,0,0,1,2015-09-01,184,42,27,241.476,21,1,0,0,2,9,1
41,0,0,0,1,2015-09-07,118,10,37,241.476,28,1,0,0,4,9,0
42,0,0,0,1,2015-09-01,179,51,38,241.476,31,1,0,0,4,9,1
43,0,0,1,0,2015-09-08,235,20,43,241.476,38,1,1,0,8,9,1
44,0,0,0,1,2015-09-09,155,12,34,241.476,25,1,2,0,2,9,2
45,0,0,0,1,2015-09-13,118,10,37,241.476,28,1,0,0,3,9,6
46,0,0,0,1,2015-09-14,179,51,38,241.476,31,1,0,0,3,9,0
47,0,0,0,1,2015-09-24,291,31,40,241.476,25,1,1,1,4,9,3
48,0,0,0,1,2015-09-04,260,50,36,241.476,23,1,4,0,8,9,4
49,1,0,0,0,2015-09-14,291,31,40,241.476,25,1,1,1,32,9,0
50,0,0,0,0,2015-09-21,260,50,36,241.476,23,1,4,0,0,9,0
51,0,0,0,0,2015-09-28,225,26,28,241.476,24,1,1,2,0,9,0
52,0,0,0,1,2015-09-08,225,26,28,241.476,24,1,1,2,2,9,1
53,0,0,0,1,2015-09-15,118,10,37,241.476,28,1,0,0,2,9,1
54,0,0,0,0,2015-09-22,289,36,33,241.476,30,1,2,1,0,9,1
55,0,0,0,0,2015-09-29,118,13,50,241.476,31,1,1,0,0,9,1
56,0,0,1,0,2015-09-16,225,26,28,241.476,24,1,1,2,3,9,2
57,0,0,0,1,2015-09-23,179,51,38,241.476,31,1,0,0,3,9,2
58,0,0,0,0,2015-09-30,369,17,31,241.476,25,1,3,0,0,9,2
59,0,0,0,1,2015-09-11,248,25,47,241.476,32,1,2,1,1,9,4
60,0,0,0,1,2015-09-18,179,51,38,241.476,31,1,0,0,3,9,4
61,0,0,0,1,2015-09-25,260,50,36,241.476,23,1,4,0,4,9,4
62,0,0,0,1,2015-10-06,179,51,38,253.465,31,1,0,0,3,10,1
63,0,0,0,1,2015-10-13,118,10,37,253.465,28,1,0,0,3,10,1
64,0,0,0,0,2015-10-14,118,13,50,253.465,31,1,1,0,0,10,2
65,0,0,0,1,2015-10-15,179,26,30,253.465,19,3,0,0,1,10,3
66,0,0,0,1,2015-10-16,179,51,38,253.465,31,1,0,0,3,10,4
67,0,0,0,1,2015-10-16,225,26,28,253.465,24,1,1,2,3,10,4
68,0,0,0,1,2015-10-06,118,10,37,253.465,28,1,0,0,3,10,1
69,0,0,0,1,2015-10-14,225,26,28,253.465,24,1,1,2,2,10,2
70,0,0,0,1,2015-10-21,248,25,47,253.465,32,1,2,1,2,10,2
71,0,0,0,1,2015-10-22,291,31,40,253.465,25,1,1,1,5,10,3
72,0,0,0,1,2015-10-21,179,51,38,253.465,31,1,0,0,8,10,2
73,0,0,0,1,2015-10-21,225,26,28,253.465,24,1,1,2,3,10,2
74,0,0,1,0,2015-10-22,260,50,36,253.465,23,1,4,0,16,10,3
75,1,0,0,0,2015-10-13,291,31,40,253.465,25,1,1,1,8,10,1
76,0,0,0,1,2015-10-20,225,26,28,253.465,24,1,1,2,2,10,1
77,0,0,0,1,2015-10-21,289,36,33,253.465,30,1,2,1,8,10,2
78,0,0,0,1,2015-10-23,361,52,28,253.465,27,1,1,4,1,10,4
79,0,0,0,1,2015-10-30,260,50,36,253.465,23,1,4,0,3,10,4
80,0,0,0,1,2015-11-05,179,51,38,306.345,31,1,0,0,1,11,3
81,0,0,0,1,2015-11-04,225,26,28,306.345,24,1,1,2,1,11,2
82,1,0,0,0,2015-11-05,179,51,38,306.345,31,1,0,0,8,11,3
83,0,0,1,0,2015-11-12,179,22,40,306.345,22,2,2,0,8,11,3
84,0,0,0,1,2015-11-19,291,31,40,306.345,25,1,1,1,5,11,3
85,1,0,0,0,2015-11-02,155,12,34,306.345,25,1,2,0,32,11,0
86,0,0,0,1,2015-11-09,189,29,33,306.345,25,1,2,2,8,11,0
87,1,0,0,0,2015-11-16,291,31,40,306.345,25,1,1,1,40,11,0
88,0,0,0,1,2015-11-18,225,26,28,306.345,24,1,1,2,1,11,2
89,1,0,0,0,2015-11-20,155,12,34,306.345,25,1,2,0,8,11,4
90,0,0,0,1,2015-11-18,225,26,28,306.345,24,1,1,2,3,11,2
91,0,0,1,0,2015-11-25,179,22,40,306.345,22,2,2,0,8,11,2
92,1,0,0,0,2015-11-20,225,26,28,306.345,24,1,1,2,3,11,4
93,0,0,0,1,2015-11-27,260,50,36,306.345,23,1,4,0,4,11,4
94,0,0,0,1,2015-11-02,248,25,47,306.345,32,1,2,1,1,11,0
95,0,0,0,1,2015-11-10,225,26,28,306.345,24,1,1,2,3,11,1
96,1,0,0,0,2015-11-11,289,36,33,306.345,30,1,2,1,24,11,2
97,0,0,0,1,2015-11-26,291,31,40,306.345,25,1,1,1,3,11,3
98,0,0,0,1,2015-12-01,248,25,47,261.306,32,1,2,1,1,12,1
99,0,0,1,0,2015-12-01,118,10,37,261.306,28,1,0,0,64,12,1
100,0,0,0,1,2015-12-02,118,13,50,261.306,31,1,1,0,2,12,2
101,0,0,0,1,2015-12-02,235,11,37,261.306,29,3,1,1,8,12,2
102,0,0,0,1,2015-12-03,225,26,28,261.306,24,1,1,2,2,12,3
103,0,0,0,1,2015-12-04,260,50,36,261.306,23,1,4,0,8,12,4
104,0,0,1,0,2015-12-08,118,10,37,261.306,28,1,0,0,56,12,1
105,0,0,0,1,2015-12-09,361,52,28,261.306,27,1,1,4,8,12,2
106,0,0,0,1,2015-12-10,225,26,28,261.306,24,1,1,2,3,12,3
107,0,0,0,1,2015-12-11,260,50,36,261.306,23,1,4,0,3,12,4
108,0,0,0,1,2015-12-15,225,26,28,261.306,24,1,1,2,2,12,1
109,0,0,0,1,2015-12-16,361,52,28,261.306,27,1,1,4,8,12,2
110,0,0,0,1,2015-12-11,118,10,37,261.306,28,1,0,0,2,12,4
111,0,0,1,0,2015-12-18,246,25,41,261.306,23,1,0,0,8,12,4
112,0,0,0,1,2015-12-18,225,26,28,261.306,24,1,1,2,2,12,4
113,0,0,0,1,2016-01-06,225,26,28,308.593,24,1,1,2,1,1,2
114,0,0,1,0,2016-01-04,118,10,37,308.593,28,1,0,0,1,1,0
115,0,0,0,1,2016-01-05,118,10,37,308.593,28,1,0,0,1,1,1
116,0,0,1,0,2016-01-05,155,12,34,308.593,25,1,2,0,8,1,1
117,0,0,0,1,2016-01-06,225,26,28,308.593,24,1,1,2,2,1,2
118,0,0,0,1,2016-01-07,184,42,27,308.593,21,1,0,0,2,1,3
119,0,0,0,1,2016-01-07,225,26,28,308.593,24,1,1,2,2,1,3
120,0,0,0,1,2016-01-08,225,26,28,308.593,24,1,1,2,1,1,4
121,0,0,0,1,2016-01-11,118,10,37,308.593,28,1,0,0,2,1,0
122,0,0,0,1,2016-01-12,225,26,28,308.593,24,1,1,2,2,1,1
123,0,0,0,1,2016-01-12,118,10,37,308.593,28,1,0,0,2,1,1
124,0,0,0,1,2016-01-13,118,10,37,308.593,28,1,0,0,2,1,2
125,0,0,0,1,2016-01-14,118,10,37,308.593,28,1,0,0,2,1,3
126,0,0,0,1,2016-01-15,118,10,37,308.593,28,1,0,0,2,1,4
127,0,0,0,1,2016-01-11,118,10,37,308.593,28,1,0,0,2,1,0
128,0,0,0,1,2016-01-12,118,10,37,308.593,28,1,0,0,2,1,1
129,0,0,1,0,2016-01-12,179,26,30,308.593,19,3,0,0,8,1,1
130,0,0,1,0,2016-01-12,289,36,33,308.593,30,1,2,1,8,1,1
131,0,0,0,1,2016-01-13,118,10,37,308.593,28,1,0,0,2,1,2
132,0,0,0,1,2016-01-21,184,42,27,308.593,21,1,0,0,2,1,3
133,0,0,0,1,2016-01-28,118,10,37,308.593,28,1,0,0,2,1,3
134,0,0,0,1,2016-01-25,118,10,37,308.593,28,1,0,0,0,1,0
135,0,0,0,1,2016-01-26,225,26,28,308.593,24,1,1,2,1,1,1
136,0,0,0,1,2016-01-28,289,36,33,308.593,30,1,2,1,3,1,3
137,0,0,0,1,2016-02-05,184,42,27,302.585,21,1,0,0,1,2,4
138,1,0,0,0,2016-02-03,246,25,41,302.585,23,1,0,0,8,2,2
139,1,0,0,0,2016-02-10,179,51,38,302.585,31,1,0,0,8,2,2
140,0,0,0,1,2016-02-11,155,12,34,302.585,25,1,2,0,2,2,3
141,0,0,0,1,2016-02-11,189,29,33,302.585,25,1,2,2,8,2,3
142,0,0,0,1,2016-02-12,260,50,36,302.585,23,1,4,0,2,2,4
143,0,0,0,1,2016-02-12,289,36,33,302.585,30,1,2,1,8,2,4
144,1,0,0,0,2016-02-08,388,15,50,302.585,24,1,0,0,8,2,0
145,1,0,0,0,2016-02-09,388,15,50,302.585,24,1,0,0,8,2,1
146,0,0,0,1,2016-02-15,225,26,28,302.585,24,1,1,2,2,2,0
147,0,0,0,1,2016-02-09,225,26,28,302.585,24,1,1,2,2,2,1
148,0,0,0,1,2016-02-16,179,26,30,302.585,19,3,0,0,1,2,1
149,0,0,0,1,2016-02-23,184,42,27,302.585,21,1,0,0,8,2,1
150,0,0,0,1,2016-02-25,225,26,28,302.585,24,1,1,2,3,2,3
151,0,0,1,0,2016-02-15,330,16,28,302.585,25,2,0,0,8,2,0
152,0,0,0,1,2016-02-16,330,16,28,302.585,25,2,0,0,1,2,1
153,0,0,0,1,2016-02-17,225,26,28,302.585,24,1,1,2,1,2,2
154,0,0,1,0,2016-02-25,189,29,33,302.585,25,1,2,2,8,2,3
155,0,0,0,1,2016-03-01,291,50,32,343.253,23,1,0,0,2,3,1
156,0,0,1,0,2016-03-01,260,50,36,343.253,23,1,4,0,8,3,1
157,0,0,1,0,2016-03-08,157,27,29,343.253,22,1,0,0,3,3,1
158,0,1,0,0,2016-03-15,179,22,40,343.253,22,2,2,0,8,3,1
159,0,0,0,1,2016-03-16,291,31,40,343.253,25,1,1,1,8,3,2
160,1,0,0,0,2016-03-02,260,50,36,343.253,23,1,4,0,8,3,2
161,1,0,0,0,2016-03-03,179,26,30,343.253,19,3,0,0,8,3,3
162,1,0,0,0,2016-03-04,248,25,47,343.253,32,1,2,1,3,3,4
163,1,0,0,0,2016-03-04,260,50,36,343.253,23,1,4,0,40,3,4
164,1,0,0,0,2016-03-07,179,22,40,343.253,22,2,2,0,40,3,0
165,1,0,0,0,2016-03-14,155,12,34,343.253,25,1,2,0,16,3,0
166,0,0,0,1,2016-03-21,260,50,36,343.253,23,1,4,0,16,3,0
167,1,0,0,0,2016-03-22,155,12,34,343.253,25,1,2,0,8,3,1
168,1,0,0,0,2016-03-24,289,36,33,343.253,30,1,2,1,8,3,3
169,1,0,0,0,2016-03-24,179,22,40,343.253,22,2,2,0,8,3,3
170,0,0,0,1,2016-03-25,260,50,36,343.253,23,1,4,0,4,3,4
171,0,0,0,1,2016-03-25,225,26,28,343.253,24,1,1,2,1,3,4
172,1,0,0,0,2016-03-28,279,5,39,343.253,24,1,2,0,8,3,0
173,1,0,0,0,2016-03-29,179,51,38,343.253,31,1,0,0,24,3,1
174,0,0,0,1,2016-03-30,225,26,28,343.253,24,1,1,2,2,3,2
175,1,0,0,0,2016-03-28,225,26,28,343.253,24,1,1,2,8,3,0
176,1,0,0,0,2016-03-28,179,26,30,343.253,19,3,0,0,1,3,0
177,1,0,0,0,2016-03-29,225,26,28,343.253,24,1,1,2,8,3,1
178,1,0,0,0,2016-03-30,225,26,28,343.253,24,1,1,2,16,3,2
179,1,0,0,0,2016-03-30,179,51,38,343.253,31,1,0,0,3,3,2
180,1,0,0,0,2016-03-17,279,5,39,343.253,24,1,2,0,16,3,3
181,0,0,0,1,2016-03-18,225,26,28,343.253,24,1,1,2,2,3,4
182,1,0,0,0,2016-03-25,248,25,47,343.253,32,1,2,1,3,3,4
183,0,0,0,1,2016-03-28,225,26,28,343.253,24,1,1,2,1,3,0
184,0,0,0,1,2016-04-06,291,31,40,326.452,25,1,1,1,1,4,2
185,0,0,0,1,2016-04-13,225,26,28,326.452,24,1,1,2,1,4,2
186,0,0,0,1,2016-04-12,155,12,34,326.452,25,1,2,0,1,4,1
187,1,0,0,0,2016-04-13,246,25,41,326.452,23,1,0,0,24,4,2
188,0,0,0,1,2016-04-14,155,12,34,326.452,25,1,2,0,1,4,3
189,0,0,0,1,2016-04-15,225,26,28,326.452,24,1,1,2,2,4,4
190,0,0,0,1,2016-04-15,260,50,36,326.452,23,1,4,0,4,4,4
191,1,0,0,0,2016-04-06,179,51,38,326.452,31,1,0,0,24,4,2
192,0,0,0,1,2016-04-07,118,13,50,326.452,31,1,1,0,1,4,3
193,0,0,0,1,2016-04-08,291,31,40,326.452,25,1,1,1,3,4,4
194,1,0,0,0,2016-04-08,246,25,41,326.452,23,1,0,0,8,4,4
195,0,0,0,1,2016-04-22,291,31,40,326.452,25,1,1,1,1,4,4
196,0,0,0,1,2016-04-29,248,25,47,326.452,32,1,2,1,8,4,4
197,0,0,1,0,2016-04-29,260,50,36,326.452,23,1,4,0,56,4,4
198,0,0,1,0,2016-04-26,289,36,33,326.452,30,1,2,1,8,4,1
199,1,0,0,0,2016-04-27,155,12,34,326.452,25,1,2,0,24,4,2
200,0,0,1,0,2016-04-27,378,49,36,326.452,21,1,2,4,8,4,2
201,1,0,0,0,2016-04-28,289,36,33,326.452,30,1,2,1,16,4,3
202,1,0,0,0,2016-04-08,235,11,37,326.452,29,3,1,1,3,4,4
203,0,0,0,0,2016-04-04,235,29,48,326.452,33,1,1,5,0,4,0
204,1,0,0,0,2016-05-04,289,36,33,378.884,30,1,2,1,8,5,2
205,0,0,0,1,2016-05-05,155,12,34,378.884,25,1,2,0,2,5,3
206,0,0,0,1,2016-05-02,155,12,34,378.884,25,1,2,0,1,5,0
207,0,0,1,0,2016-05-03,179,51,38,378.884,31,1,0,0,8,5,1
208,0,0,1,0,2016-05-03,225,26,28,378.884,24,1,1,2,8,5,1
209,1,0,0,0,2016-05-11,184,42,27,378.884,21,1,0,0,4,5,2
210,0,0,0,1,2016-05-09,155,12,34,378.884,25,1,2,0,2,5,0
211,1,0,0,0,2016-05-10,179,51,38,378.884,31,1,0,0,1,5,1
212,1,0,0,0,2016-05-04,289,36,33,378.884,30,1,2,1,24,5,2
213,0,0,0,0,2016-05-11,279,5,39,378.884,24,1,2,0,0,5,2
214,0,0,0,0,2016-05-18,330,16,28,378.884,25,2,0,0,0,5,2
215,0,0,0,0,2016-05-25,378,49,36,378.884,21,1,2,4,0,5,2
216,0,0,0,0,2016-05-25,388,15,50,378.884,24,1,0,0,0,5,2
217,1,0,0,0,2016-05-24,179,51,38,378.884,31,1,0,0,1,5,1
218,1,0,0,0,2016-05-11,118,13,50,378.884,31,1,1,0,24,5,2
219,0,0,0,1,2016-05-27,361,52,28,378.884,27,1,1,4,8,5,4
220,0,0,1,0,2016-06-06,246,25,41,377.550,23,1,0,0,8,6,0
221,0,0,0,1,2016-06-13,361,52,28,377.550,27,1,1,4,8,6,0
222,1,0,0,0,2016-06-14,246,25,41,377.550,23,1,0,0,24,6,1
223,0,0,0,1,2016-06-16,291,31,40,377.550,25,1,1,1,4,6,3
224,1,0,0,0,2016-06-17,246,25,41,377.550,23,1,0,0,8,6,4
225,1,0,0,0,2016-06-13,179,51,38,377.550,31,1,0,0,8,6,0
226,0,0,0,1,2016-06-20,155,12,34,377.550,25,1,2,0,4,6,0
227,1,0,0,0,2016-06-27,246,25,41,377.550,23,1,0,0,8,6,0
228,1,0,0,0,2016-06-29,118,13,50,377.550,31,1,1,0,8,6,2
229,1,0,0,0,2016-06-03,235,11,37,377.550,29,3,1,1,16,6,4
230,0,0,0,1,2016-06-07,118,13,50,377.550,31,1,1,0,1,6,1
231,1,0,0,0,2016-06-08,118,13,50,377.550,31,1,1,0,80,6,2
232,0,0,0,1,2016-06-09,378,49,36,377.550,21,1,2,4,8,6,3
233,1,0,0,0,2016-06-10,179,51,38,377.550,31,1,0,0,2,6,4
234,0,0,0,1,2016-06-20,289,48,49,377.550,36,1,0,2,2,6,0
235,0,0,0,1,2016-06-30,225,26,28,377.550,24,1,1,2,2,6,3
236,0,0,1,0,2016-07-05,155,12,34,275.312,25,1,2,0,16,7,1
237,1,0,0,0,2016-07-06,118,13,50,275.312,31,1,1,0,8,7,2
238,1,0,0,0,2016-07-08,118,10,37,275.312,28,1,0,0,8,7,4
239,0,0,0,1,2016-07-08,118,10,37,275.312,28,1,0,0,4,7,4
240,0,0,0,1,2016-07-12,330,16,28,275.312,25,2,0,0,8,7,1
241,0,0,1,0,2016-07-14,179,26,30,275.312,19,3,0,0,8,7,3
242,0,0,0,1,2016-07-15,155,12,34,275.312,25,1,2,0,2,7,4
243,1,0,0,0,2016-07-18,330,16,28,275.312,25,2,0,0,8,7,0
244,1,0,0,0,2016-07-19,330,16,28,275.312,25,2,0,0,8,7,1
245,0,0,0,1,2016-07-18,157,27,29,275.312,22,1,0,0,3,7,0
246,0,0,0,1,2016-07-19,361,52,28,275.312,27,1,1,4,8,7,1
247,0,0,0,1,2016-07-20,289,36,33,275.312,30,1,2,1,8,7,2
248,0,0,0,1,2016-07-21,179,51,38,275.312,31,1,0,0,8,7,3
249,0,0,1,0,2016-07-11,289,36,33,275.312,30,1,2,1,32,7,0
250,0,0,1,0,2016-07-14,289,36,33,275.312,30,1,2,1,8,7,3
251,0,0,0,0,2016-07-21,260,50,36,275.312,23,1,4,0,0,7,3
252,0,0,1,0,2016-08-04,289,36,33,265.615,30,1,2,1,8,8,3
253,0,0,1,0,2016-08-11,157,27,29,265.615,22,1,0,0,3,8,3
254,0,0,0,1,2016-08-07,289,36,33,265.615,30,1,2,1,1,8,6
255,0,0,1,0,2016-08-08,228,14,58,265.615,22,1,2,1,8,8,0
256,1,0,0,0,2016-08-10,300,26,43,265.615,25,1,2,1,1,8,2
257,1,0,0,0,2016-08-10,300,26,43,265.615,25,1,2,1,2,8,2
258,0,0,0,1,2016-08-11,260,50,36,265.615,23,1,4,0,4,8,3
259,0,0,0,1,2016-08-08,289,36,33,265.615,30,1,2,1,4,8,0
260,0,0,0,1,2016-08-09,248,25,47,265.615,32,1,2,1,1,8,1
261,1,0,0,0,2016-08-10,268,11,33,265.615,25,2,0,0,8,8,2
262,0,0,0,1,2016-08-10,179,26,30,265.615,19,3,0,0,1,8,2
263,1,0,0,0,2016-08-10,118,13,50,265.615,31,1,1,0,3,8,2
264,0,0,0,1,2016-08-14,248,25,47,265.615,32,1,2,1,2,8,6
265,0,0,0,1,2016-08-15,235,11,37,265.615,29,3,1,1,1,8,0
266,0,0,0,1,2016-08-17,118,13,50,265.615,31,1,1,0,1,8,2
267,0,0,1,0,2016-08-24,235,11,37,265.615,29,3,1,1,8,8,2
268,1,0,0,0,2016-08-08,361,52,28,265.615,27,1,1,4,8,8,0
269,1,0,0,0,2016-08-30,184,42,27,265.615,21,1,0,0,8,8,1
270,1,0,0,0,2016-09-05,179,51,38,294.217,31,1,0,0,8,9,0
271,0,0,0,1,2016-09-09,179,51,38,294.217,31,1,0,0,3,9,4
272,0,0,1,0,2016-09-07,289,36,33,294.217,30,1,2,1,24,9,2
273,0,0,0,0,2016-09-08,235,20,43,294.217,38,1,1,0,0,9,3
274,1,0,0,0,2016-09-12,246,25,41,294.217,23,1,0,0,16,9,0
275,0,0,0,1,2016-09-13,291,31,40,294.217,25,1,1,1,3,9,1
276,0,0,0,0,2016-09-13,231,35,39,294.217,35,1,2,2,0,9,1
277,0,0,0,0,2016-09-13,291,50,32,294.217,23,1,0,0,0,9,1
278,1,0,0,0,2016-09-14,179,51,38,294.217,31,1,0,0,8,9,2
279,1,0,0,0,2016-09-14,246,25,41,294.217,23,1,0,0,32,9,2
280,0,0,0,1,2016-09-15,179,51,38,294.217,31,1,0,0,1,9,3
281,0,0,0,1,2016-09-16,291,31,40,294.217,25,1,1,1,4,9,4
282,0,0,0,1,2016-09-16,260,50,36,294.217,23,1,4,0,4,9,4
283,0,0,0,1,2016-09-14,235,20,43,294.217,38,1,1,0,8,9,2
284,0,0,0,1,2016-09-15,118,13,50,294.217,31,1,1,0,1,9,3
285,0,0,0,0,2016-09-15,235,20,43,294.217,38,1,1,0,0,9,3
286,0,0,0,1,2016-09-16,291,31,40,294.217,25,1,1,1,3,9,4
287,1,0,0,0,2016-09-26,291,31,40,294.217,25,1,1,1,40,9,0
288,1,0,0,0,2016-09-26,179,51,38,294.217,31,1,0,0,8,9,0
289,0,0,0,1,2016-10-05,289,36,33,265.017,30,1,2,1,8,10,2
290,0,0,0,1,2016-10-05,235,11,37,265.017,29,3,1,1,4,10,2
291,0,0,0,1,2016-10-05,289,36,33,265.017,30,1,2,1,8,10,2
292,0,0,0,1,2016-10-06,289,36,33,265.017,30,1,2,1,8,10,3
293,0,0,0,0,2016-10-06,118,13,50,265.017,31,1,1,0,0,10,3
294,0,0,0,0,2016-10-06,248,25,47,265.017,32,1,2,1,0,10,3
295,1,0,0,0,2016-10-12,179,26,30,265.017,19,3,0,0,8,10,2
296,1,0,0,0,2016-10-12,118,10,37,265.017,28,1,0,0,3,10,2
297,0,0,0,1,2016-10-12,369,17,31,265.017,25,1,3,0,8,10,2
298,0,0,0,1,2016-10-14,179,51,38,265.017,31,1,0,0,1,10,4
299,1,0,0,0,2016-10-14,179,26,30,265.017,19,3,0,0,64,10,4
300,0,0,0,0,2016-10-14,235,20,43,265.017,38,1,1,0,0,10,4
301,0,0,1,0,2016-10-15,289,36,33,265.017,30,1,2,1,16,10,5
302,0,0,0,1,2016-10-16,260,50,36,265.017,23,1,4,0,3,10,6
303,0,0,0,0,2016-10-16,235,20,43,265.017,38,1,1,0,0,10,6
304,0,0,0,1,2016-10-19,235,20,43,265.017,38,1,1,0,2,10,2
305,0,0,0,1,2016-10-19,235,20,43,265.017,38,1,1,0,2,10,2
306,0,0,0,1,2016-10-20,118,13,50,265.017,31,1,1,0,1,10,3
307,0,0,0,1,2016-10-20,291,31,40,265.017,25,1,1,1,4,10,3
308,0,0,0,1,2016-10-22,179,26,30,265.017,19,3,0,0,16,10,5
309,0,0,0,1,2016-10-22,118,13,50,265.017,31,1,1,0,1,10,5
310,1,0,0,0,2016-10-26,361,52,28,265.017,27,1,1,4,8,10,2
311,0,0,0,0,2016-10-27,260,50,36,265.017,23,1,4,0,0,10,3
312,0,0,0,0,2016-10-27,291,31,40,265.017,25,1,1,1,0,10,3
313,0,0,0,0,2016-10-27,157,27,29,265.017,22,1,0,0,0,10,3
314,1,0,0,0,2016-10-28,179,26,30,265.017,19,3,0,0,5,10,4
315,1,0,0,0,2016-10-28,179,26,30,265.017,19,3,0,0,5,10,4
316,0,0,0,1,2016-10-29,118,13,50,265.017,31,1,1,0,1,10,5
317,1,0,0,0,2016-11-07,118,10,37,284.031,28,1,0,0,8,11,0
318,0,0,0,1,2016-11-07,248,25,47,284.031,32,1,2,1,2,11,0
319,1,0,0,0,2016-11-08,179,51,38,284.031,31,1,0,0,8,11,1
320,0,0,0,1,2016-11-11,260,50,36,284.031,23,1,4,0,3,11,4
321,0,0,0,1,2016-11-14,291,31,40,284.031,25,1,1,1,1,11,0
322,1,0,0,0,2016-11-14,378,49,36,284.031,21,1,2,4,8,11,0
323,1,0,0,0,2016-11-14,155,12,34,284.031,25,1,2,0,120,11,0
324,0,0,0,1,2016-11-14,235,20,43,284.031,38,1,1,0,8,11,0
325,0,0,0,0,2016-11-15,330,16,28,284.031,25,2,0,0,0,11,1
326,0,0,1,0,2016-11-16,235,11,37,284.031,29,3,1,1,1,11,2
327,1,0,0,0,2016-11-16,118,10,37,284.031,28,1,0,0,3,11,2
328,0,0,0,1,2016-11-17,235,11,37,284.031,29,3,1,1,2,11,3
329,0,0,0,1,2016-11-17,179,51,38,284.031,31,1,0,0,3,11,3
330,1,0,0,0,2016-11-18,246,25,41,284.031,23,1,0,0,8,11,4
331,1,0,0,0,2016-11-18,291,31,40,284.031,25,1,1,1,4,11,4
332,1,0,0,0,2016-11-21,246,25,41,284.031,23,1,0,0,8,11,0
333,0,0,0,1,2016-11-22,179,51,38,284.031,31,1,0,0,1,11,1
334,1,0,0,0,2016-11-23,260,50,36,284.031,23,1,4,0,8,11,2
335,0,1,0,0,2016-11-25,260,50,36,284.031,23,1,4,0,8,11,4
336,0,0,0,0,2016-11-25,378,49,36,284.031,21,1,2,4,0,11,4
337,0,0,0,0,2016-11-29,279,5,39,284.031,24,1,2,0,0,11,1
338,0,0,0,1,2016-11-24,179,51,38,284.031,31,1,0,0,1,11,3
339,1,0,0,0,2016-12-05,225,26,28,236.629,24,1,1,2,3,12,0
340,0,0,0,1,2016-12-05,179,51,38,236.629,31,1,0,0,2,12,0
341,0,0,0,1,2016-12-05,179,51,38,236.629,31,1,0,0,1,12,0
342,0,0,0,1,2016-12-05,235,11,37,236.629,29,3,1,1,3,12,0
343,0,0,0,1,2016-12-06,118,13,50,236.629,31,1,1,0,1,12,1
344,0,0,0,1,2016-12-09,260,50,36,236.629,23,1,4,0,4,12,4
345,1,0,0,0,2016-12-15,246,25,41,236.629,23,1,0,0,8,12,3
346,0,0,0,1,2016-12-15,179,51,38,236.629,31,1,0,0,1,12,3
347,0,0,0,1,2016-12-16,179,51,38,236.629,31,1,0,0,1,12,4
348,0,0,0,1,2016-12-20,179,26,30,236.629,19,3,0,0,1,12,1
349,0,0,0,1,2016-12-20,118,10,37,236.629,28,1,0,0,8,12,1
350,0,0,0,1,2016-12-22,235,11,37,236.629,29,3,1,1,2,12,3
351,0,0,0,1,2016-12-23,179,51,38,236.629,31,1,0,0,1,12,4

In [70]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [71]:
df_reason_date_mod['Education'].value_counts()

Education
1    583
3     73
2     40
4      4
Name: count, dtype: int64

In [72]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [73]:
df_reason_date_mod['Education'].unique()

array([0, 1], dtype=int64)

In [74]:
df_reason_date_mod['Education'].value_counts()

Education
0    583
1    117
Name: count, dtype: int64

In [76]:
##Final Checkpoint------------------
df_cleaned = df_reason_date_mod.copy()
df_cleaned.head(10)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,0,0,0,2,7,4
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,0,1,4,8,7,4
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,0,4,0,4,7,4
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,0,2,0,40,7,0
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,1,1,1,8,7,0